@font-face {
    font-family: "Iosevka Etolie";
    src: url("../fonts/iosevka-etoile-regular.woff2");
  }


  @font-face {
    font-family: "Iosevka Aile";
    src: url("../fonts/iosevka-aile-regular.woff2");
  }